@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-family: "Inter", sans-serif;
}

div {
  width: 400px;
  height: 400px;
  box-shadow: black 20px 10px 50px;
  background-color: white;
}
