@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  /* margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-family: "Inter", sans-serif;
  text-align: center; */
  background-color: rgb(228, 13, 13);
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* GAME BOARD STYLES */
#game {
  /*
	width and height of .game-pixel should 1/40 of the width and height of #game,
	because it is used in calculation in the jscript.js file
	*/
  width: 40vw;
  height: 40vw;
  margin: 2vw auto;
  background-color: rgb(26, 93, 160);
  border: solid 2px rgb(20, 20, 20);
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 20px 3px rgba(141, 88, 88, 0.6);
}

.game-pixel {
  /*
	width and height of .game-pixel should 1/40 of the width and height of #game,
	because it is used in calculation in the jscript.js file
	*/
  width: 1vw;
  height: 1vw;
  border-radius: 10px;
  float: left;
}
/* GAME BOARD STYLES END*/

/* SNAKE STYLES */
.snake-body {
  background-color: yellow;
  box-shadow: 0 0 5px #fd6401;
}

.food {
  background-color: #68e768;
}
